<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.personimfmapper.showgrouppeopleMapper">
    <select id="getgrouppeople" parameterType="grouppeople" resultType="grouppeople">
        SELECT users.username,dgroup.gcount from users,(select gid from users where userid=#{userid}) c,dgroup
        WHERE users.gid=c.gid AND dgroup.gid=c.gid LIMIT #{page},4;
    </select>
</mapper>