*{
    margin: 0;
    padding: 0;
}
.zong{
    width: 880px;
    height: 700px;
}

table{
    border-spacing: 60px 10px;
    margin-top: 60px;
    margin-left: 250px;
}
td{
    width: 150px;
    height: 100px;
    text-align: center;
}